
body{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: right;
    width: 100vw;
    height: 100vh;

}
/* justify works in column align works in rows */

.main-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
     */
}

.first-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 325px;
        height: 200px;
        background-color: hsl(228, 56%, 26%);
        border-radius: 15px 100px 15px 15px;
}

.second-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 150px;
    color: white;
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px 15px 15px 15px;
}


    

/* progress::-moz-progress-bar{
    background-color:  hsl(228, 56%, 26%);
}
progress::-webkit-progress-bar {
    background: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

 } */

.icon-group{
display: flex;
justify-content: space-around;
}

.icons{
    background-color: hsl(229, 57%, 11%);
    /* flex-direction: ; */
    padding: 6px;
    border-radius: 6px;
      
}

.lower-text{
    display: flex;
    justify-content: space-around;
}


.bar{
    display: grid;
    align-content: center;
}
progress{
    
    -webkit-appearence:none;
    -webkit-progress-bar: hsl(229, 57%, 11%);
}