
body{
    font-family: 'Raleway', sans-serif;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: right;
    width: 100vw;
    height: 100vh;
    

}
/* justify works in column align works in rows */

.main-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    gap: 16px;
    
}

.first-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 325px;
        height: 200px;
        background-color: hsl(228, 56%, 26%);
        border-radius: 15px 100px 15px 15px;
}

.second-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 150px;
    color: white;
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px 15px 15px 15px;
}


    
.FyloSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
      
       
}



.icon-group{
    margin-top: 48px;
display: flex;
gap: 6px;
justify-content: space-around;

}

.icons{
    background-color: hsl(229, 57%, 11%);
    padding: 6px;
    border-radius: 6px;
      
}

.description{
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.lower-text{
    display: flex;
    justify-content: space-around;
}


.bar{
    display: grid;
    align-content: center;
}
progress{
    accent-color: hsl(6, 100%, 80%);
    -webkit-appearence:none;
    }