
body{
    font-family: 'Raleway', sans-serif;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: right;
    width: 100vw;
    height: 100vh;
    

}
/* justify works in column align works in rows */

.main-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    gap: 16px;
    
}

.first-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 325px;
        height: 200px;
        background-color: hsl(228, 56%, 26%);
        border-radius: 15px 100px 15px 15px;
}

 
.FyloSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
      
    
}

.icon-group{
    margin-top: 48px;
display: flex;
gap: 6px;
justify-content: space-around;

}

.icons{
    background-color: hsl(229, 57%, 11%);
    padding: 6px;
    border-radius: 6px;
      
}

.second-container{
    width: 100%;
    justify-content: space-between;
     /* align-items: center; */
    width: 500px;
    height: 150px;
    color: white;
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px 15px 15px 15px;
}
.description{
    padding: 30px;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.lower-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
   
    }

.text{
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    
}

.progress-bar{
    width: 75%;
    background-color: hsl(229, 57%, 11%);
    padding: 6px;
    border-radius: 16px;
    margin: 0px 0px 8px 64px;
    
    
}

.progress-bar-color{
    width: 75%;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 16px;
}  

.ball {
    width: 16px;
    height: 16px;
    background-color: hsl(243, 100%, 93%);
    border-radius: 16px;
}
